<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="~/imgs/das/logo.png" style="width:175px;" />
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="@Url.Action("Index", "Kontakt")" class="nav-item nav-link">İletişim Listesi</a>
               
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mülkler</a>
                <div class="dropdown-menu">
                    <a href="@Url.Action("Index", "Mulk")" class="dropdown-item">Mülk Listesi</a>
                    <a href="@Url.Action("Index", "Modul")" class="dropdown-item">Modüller</a>
                    <a href="@Url.Action("Index", "Ozellik")" class="dropdown-item">Özellikler</a>
                </div>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
</nav>
